@inherits LayoutComponentBase

<div class="app-shell">
    <NavMenu />
    <main class="main-content">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    发生未处理的错误。
    <a href="." class="reload">重新加载</a>
    <span class="dismiss">×</span>
</div>
